.weather {
    color: black;
    padding-top: 30px;
}

#weather {
    display: inline-block;
    float: left;
}

#location {
    font-size: 56px;
    font-family: 'Varela Round', sans-serif;
}

#trip{
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
}

.title {
    position: absolute;
    color: white;
    font-size: 44px;
    background-color: rgba(0,0,0,0.5);
    opacity: 10;
    z-index: 0;
    top: 30%;
    left: 0;
    padding-right: 30px;
    padding-left: 30px;
}

.new-outfit {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.outfit-header {
    font-size: 16px;
    display: inline-block;
    padding-bottom: 8px;
}

.header {
    font-size: 30px;
    padding-top: 20px;
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.sub-header {
    font-size: 20px;
    padding-bottom: 15px;
}

.add-button {
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-default {
    height: 28px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

.added-response {
    display: none;
    padding: 2px;
    color: #558BA0;
}

.add-location {
    font-size: 20px;
}

.see-list {
    padding-bottom: 20px;
}

.remove {
    display: none;
}

.outfits:hover .remove {
    display: inline-block;
}

tr:hover .remove {
    display: inline-block;
    padding-left: 8px;
}

.col-xs-7 {
    padding-left: 10%;
}

.col-xs-5 {
    padding-right: 10%;
}
.form-control {
    width: 200px;
    display: inline-block;
    height: 24px;
}

.cat {
    width: 180px;
}

.item {
    width: 120px;
}

.remove {
    width: 10px;
}
