<!doctype html>
<html>
<head>
    <title>PACK APP NAME</title>
    <script> console.log("hi")</script>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script type="text/javascript" src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js">
    </script>
</head>
<body>


{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>