<!doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        li {
            display: inline;
        }
    </style>

    <title>PACK APP NAME</title>

    <script> console.log("hi")</script>
    <script type="text/javascript"></script>
    <script src='https://code.jquery.com/jquery.js'></script>
    <script type="text/javascript" src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js">
    </script>
    

</head>

<body>
<ul>
    {% if "user_id" in session %}
    <li><a href="/logout">Logout</a></li>
    <li><a href="/user_landing/{{ session['user_id'] }}">Home</a></li>
    <li><a href="/core_list">Core List</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    {% endif %}
</ul>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>