{% extends 'base.html' %}

{% block title %}PACK MANAGER{% endblock %}

{% block content %}

    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyl6IGlGGmnVCqHiAluta6VfjuGf6Fec&libraries=places"></script>
    <style>
        .weather {
            display: inline-block; 
        }
    </style>

    <h1>{{ trip_name }}</h1>

    {% for item in session['weather_list'] %}
    <div class='weather'><img src='{{ item[4] }}'></div>
    {{ item[0] }}
    {{ item[1] }}
    {{ item[2] }}°/{{ item[3] }}°
    {% endfor %}<h1> Suggested Packing List </h1>
    - You'll need {{ num_outfits }} outfits.
    
    <div> {% if formal == 'yes' %}
    - Don't forget a formal outfit!
    {% endif %} </div>
    
    {{ purpose }}

    <div> {% if passport %}
    - Passport!
    {% endif %} </div>

    <div>{% if sunglasses %}
    - Sunglasses!
    {% endif %} </div>

    <div>{% if jacket %}
    - Jacket!
    {% endif %} </div>

    <div>{% if umbrella %}
    - Umbrella!
    {% endif %} </div>

    <h1> Add items to you list </h1>

    <form id='new-item' method='POST'>
        Item Category: 
        <select id='item-category' name='category'>
            <option value="" disabled selected>Choose One</option>
            {% for category in categories %}
            <option value='{{ category[0] }}'>{{ category[0] }}</option>
            {% endfor %}
        </select>
        Item Description: <input type='text' id='item-description' name='description'>
        <input type="Submit" value='Add Item'>
    </form>

    <table id='packing-list' class='tablesorter' style="width:50%" >
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
            </tr>
        </thead>
        <tbody>
        </tbody>  
    </table> 

    <form method='POST' action='/new_trip'>
    <div>
    Add another location to your trip: <input type='text' name='location' id='autocomplete'>
    <input type='submit' id='submit_location' value='Go!'>
    </div>
    </form>

    <form action='/packing_list/{{trip_name}}'>
        Done packing for your {{ trip_name }} trip? <input type='submit' id='submit_location' value='See my list!'>
    </form>


    <script src='https://code.jquery.com/jquery.js'></script>
    <script src='/static/js/location.js' type='text/javascript'></script>
    <script> 

    function displayItem(result) {
        console.log(result.location_visit_items_id);
        // $('#item-list').append('<p id='+result.item_id+'>'+result.category+': '+result.description+'</p> <div class="remove">X</div>');
        $('#packing-list tbody').append(
            '<tr id='+result.location_visit_items_id+'>'+
            '<th>'+result.category+'</th><th>'+result.description+'</th>'+
            '<th><div class="remove">X</div></th></tr>');
    }

    function addItem(evt) {
        evt.preventDefault();

        var formInputs = {
            "category": $('#item-category').val(),
            "description": $('#item-description').val()
        };

        $.post("/create_list", formInputs, displayItem);
        // $("#item-list").after('<p>['+formInputs['category']+'] '+formInputs['description']+'</p>');
        $("#item-description").val("");

    }

    $('#new-item').on('submit', addItem);


    $(document).on('click','.remove',function(){
        console.log('hi');
        var id = $(this).closest('tr').attr("id");        
        $.get('/remove_item', {item_id: id});    
        $(this).closest("tr").remove();
        console.log(id);

    });

    </script>


{% endblock %}