{% extends 'base.html' %}

{% block title %}Packbright{% endblock %}

{% block content %}

    <style>
      .weather {
          color: black;
          padding-top: 30px;
      }
      
      #weather {
          display: inline-block;
          float: left;
      }

        #location {
            font-size: 56px;
            font-family: 'Varela Round', sans-serif;
        }

        #trip{
            font-size: 32px;
            font-family: 'Varela Round', sans-serif;
        }

        .image {
            -webkit-filter: grayscale(100%);
            filter: greyscale(100%);
            width: 100%;
            height: 300px;
            background-image: url('{{ location_image_url }}');
            background-size: cover;
            background-position: center;
            position: relative;
        }
      
        .title {
            position: absolute;
            color: white;
            font-size: 44px;
            background-color: rgba(0,0,0,0.5);
            opacity: 10;
            z-index: 0;
            top: 30%;
            left: 0;
            padding-right: 30px;
            padding-left: 30px;
        }

        .new-outfit {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .outfit-header {
            font-size: 16px;
            display: inline-block;
            padding-bottom: 8px;
        }

          .header {
              font-size: 30px;
              padding-top: 20px;
              color: black;
              font-family: 'Varela Round', sans-serif;
          }

        .sub-header {
            font-size: 20px;
            padding-bottom: 15px;
        }

        .add-button {
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .btn-default {
            height: 28px;
            padding: 0px;
            padding-left: 3px;
            padding-right: 3px;
        }

        .added-response {
            display: none;
            padding: 2px;
            color: #558BA0;
        }

        .missing-item {
        }

        .add-location {
            font-size: 20px;
        }
 
        .see-list {
            padding-bottom: 20px;

        }

        .remove {
            display: none;
        }

        .outfits:hover .remove {
            display: inline-block;
        }

        tr:hover .remove {
            display: inline-block;
            padding-left: 8px;
        }

        .col-xs-7 {
            padding-left: 10%;
        }

        .col-xs-5 {
            padding-right: 10%;
        }
        .form-control {
            width: 200px;
            display: inline-block;
            height: 24px;
        }

/*        .tablesorter {
            width: 650px;
        }
*/
/*        .remove {
            width: 10px;
        }
*/

        .cat {
            width: 180px;
        }

        .item {
            width: 120px;
        }

        .remove {
            width: 10px;
        }


    </style>

    <div class='image'>
    <div class='title text-center'>
        <div id='location'>{{ location[0] }}, {{ location[1] }}</div>
        <div id='trip'>{{ trip_name }}</div>
    </div>
    </div>

    <div class='row'> <!-- open -->
    <div class="container-fluid col-xs-7"> <!-- open -->
        <div class='header'>Your Outfits</div>
        <div class='sub-header'>Complete your outfits by adding the items you want to pack.</div>

        {% for outfit in range(num_formal|int) %}
        <div class='outfits'>
        <div class='outfit-header'>Formal outfit #{{ outfit + 1 }}</div>
        <div class='added-response'>Added!</div>
        <form class='new-outfit' method='POST'>
            <div>Category: 
            <select class='shirt-category' name='category'>
                <option value="Shirt">Shirt</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shirt-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='pants-category' name='category'>
                <option value="Pants">Pants</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='pants-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='shoes-category' name='category'>
                <option value="Shoes">Shoes</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shoes-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>
            <div class='add-button'><input type="Submit" class="btn btn-default" value='Add Outfit'></div>
        </form>
    </div>
    {% endfor %}

    {% for outfit in range(num_casual|int) %}
        <div class='outfits'>
        <div class='outfit-header'>Casual outfit #{{ outfit + 1 }}</div>
        <div class='added-response'>Added!</div>
        <form class='new-outfit' method='POST'>
            <div>Category: 
            <select class='shirt-category' name='category'>
                <option value="Shirt">Shirt</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shirt-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='pants-category' name='category'>
                <option value="Pants">Pants</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='pants-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='shoes-category' name='category'>
                <option value="Shoes">Shoes</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shoes-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>
            <div class='add-button'><input type="Submit" class="btn btn-default" value='Add Outfit'></div>
        </form>
    </div>
    {% endfor %}

    {% for outfit in range(num_active|int) %}
        <div class='outfits'>
        <div class='outfit-header'>Active outfit #{{ outfit + 1 }}</div>
        <div class='added-response'>Added!</div>        
        <form class='new-outfit' method='POST'>
            <div>Category: 
            <select class='shirt-category' name='category'>
                <option value="Shirt">Shirt</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shirt-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='pants-category' name='category'>
                <option value="Pants">Pants</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='pants-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='shoes-category' name='category'>
                <option value="Shoes">Shoes</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shoes-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>
            <div class='add-button'><input type="Submit" class="btn btn-default" value='Add Outfit'></div>
        </form>
    </div>
    {% endfor %}

    {% for outfit in range(num_going_out|int) %}
        <div class='outfits'>
        <div class='outfit-header'>Going Out outfit #{{ outfit + 1 }}</div>
        <div class='added-response'>Added!</div>        
        <form class='new-outfit' method='POST'>
            <div>Category: 
            <select class='shirt-category' name='category'>
                <option value="Shirt">Shirt</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shirt-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='pants-category' name='category'>
                <option value="Pants">Pants</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='pants-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>

            <div>Category: 
            <select class='shoes-category' name='category'>
                <option value="Shoes">Shoes</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" class='shoes-description' name='description' placeholder='description'>
                <div class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </div>
            <div class='add-button'><input type="Submit" class="btn btn-default" value='Add Outfit'></div>
        </form>
    </div>
    {% endfor %}

    <div class='missing-item'>
    <div class='outfit-header'>Missing an item or outfit? Add them here!</div>
    <form id='new-item' method='POST'>
        Category: 
        <select id='item-category' name='category'>
            <option value="" disabled selected>Choose One</option>
            {% for category in categories %}
            <option value='{{ category[0] }}'>{{ category[0] }}</option>
            {% endfor %}
        </select>
        <input type='text' class="form-control" id='item-description' name='description' placeholder='description'>
        <input type="Submit" class="btn btn-default" value='Add Item'>
    </form>

    <table id='packing-list' class='tablesorter'>
        <thead>
            <tr>
                <th class='cat'>Category</th>
                <th class='item'>Description</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>  
    </table> 
    </div>

     <div class='add-location'>
        <form method='POST' action='/new_trip'>    
            <div class='outfit-header'>Add another location to your trip:</div> <input type='text' class="form-control" name='location' id='autocomplete'>
            <input type='submit' class="btn btn-default" id='submit_location' value='Go!'>
        </form>
    </div>

    <div class='see-list'>
        <form action="/packing_list/{{trip_name}}">
            <input type='submit' class="btn btn-default" id='submit_location' value='Show Me My Packing List!'>
        </form>
    </div>
    </div>

  <div class="container-fluid col-xs-5">
    <div class='weather'>
    {% for item in session['weather_list'] %}
    <div id='weather' class='weather text-center'>
      <img src='{{ item[4] }}'>
      <div>{{ item[0] }}</div>
      <div>{{ item[1] }}</div>
      <div>{{ item[2] }}° / {{ item[3] }}°</div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

    <script type='text/javascript' src='/static/js/location.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyl6IGlGGmnVCqHiAluta6VfjuGf6Fec&libraries=places"></script>
    <script type='text/javascript' src='/static/js/add_remove_item.js'></script>
    
    <script>
    // $(".new-outfit").hover(function(){
    //     console.log("WORKS");
    //     $('.delete').css("display", "inline-block");
    // });

    // $(".new-outfits").hover(function(){
    //     $('.delete').toggleClass('hidden');
    // });
        // $('.done').change(function() {
        //     if ($('.done').on('click') ) {
        //         $(this).closest('tr').toggleClass('strike');
        //     }
        // });
    </script>

{% endblock %}