{% extends 'base.html' %}

{% block title %}PACK MANAGER{% endblock %}

{% block content %}

    <style>
        .weather {
            display: inline-block; 
        }
        .strike {
            text-decoration: line-through;
        }
          #image {
              -webkit-filter: grayscale(100%);
              filter: greyscale(100%);
          }
          
          #title {
              -webkit-filter: grayscale(100%);
              filter: greyscale(100%);
              width: 100%;
              height: 400px;
              background-image: url('{{ location_image_url }}');
              background-size: cover;
          }
          
          h1 {
              color: white;
              text-align: center;
          }

          h2 {
              color: white;
              text-align: center;
          }

    </style>

    <div id='title'> <h1>{{ location[0] }}</h1>
    <h2>{{ trip_name }}</h2>

    {% for item in session['weather_list'] %}
    <div class='weather'><img src='{{ item[4] }}'></div>
    {{ item[0] }}
    {{ item[1] }}
    {{ item[2] }}°/{{ item[3] }}°
    {% endfor %}
    </div>

    <h3>Your Packing List</h3>

    <div class="container-fluid">
    <div class="col-xs-12">
    <table id='suggested-items' class='tablesorter'>
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>                
            {% if jacket %}
            <tr> 
                <td class='sugg-item-category'>Jacket</td>
                <td><input type='text' class='sugg-item-description'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endif %}
            {% if passport %}
            <tr> 
                <td class='sugg-item-category'>Travel Supplies</td>
                <td><input type='text' class='sugg-item-description' value='Passport'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endif %}
            {% if sunglasses %}
            <tr> 
                <td class='sugg-item-category'>Accessories</td>
                <td><input type='text' class='sugg-item-description' value='Sunglasses'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endif %}
            {% if umbrella %}
            <tr> 
                <td class='sugg-item-category'>Accessories</td>
                <td><input type='text' class='sugg-item-description' value='Umbrella'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endif %}
            {% if flying %}
            <tr> 
                <td class='sugg-item-category'>Travel Supplies</td>
                <td><input type='text' class='sugg-item-description' value='Neck Pillow'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            <tr> 
                <td class='sugg-item-category'>Travel Supplies</td>
                <td><input type='text' class='sugg-item-description' value='Headphones'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            <tr> 
                <td class='sugg-item-category'>Travel Supplies</td>
                <td><input type='text' class='sugg-item-description' value='Eye Mask'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            <tr> 
                <td class='sugg-item-category'>Travel Supplies</td>
                <td><input type='text' class='sugg-item-description' value='Ear Plugs'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endif %}
            {% for item in activities_items_list %}
            <tr> 
                <td class='sugg-item-category'>{{ item[0] }}</td>
                <td><input type='text' class='sugg-item-description' value='{{ item[1] }}'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endfor %}
            {% for item in misc_items %}
            <tr> 
                <td class='sugg-item-category'>{{ item[0] }}</td>
                <td><input type='text' class='sugg-item-description' value='{{ item[1] }}'></td>
                <td><div class='add'>ADD</div></td>
            </tr>
            {% endfor %}
        </tbody>  
    </table> 

    <h3>Create Outfits</h3>
    <table>
        <tr>
            {% if num_formal|int > 0 %}
            <td><div id='formal' class='outfits'>
            {{ num_formal }} formal outfit(s)</div></td><td><input type="checkbox" class='done'></input></td>
        </tr>
            {% endif %}
        <tr>
            {% if num_casual|int > 0 %}
            <td><div id='casual' class='outfits'>
            {{ num_casual }} casual outfit(s)</div></td><td><input type="checkbox" class='done'></input></td>
        </tr>
            {% endif %}
        <tr>
            {% if num_active|int > 0 %}
            <td><div id='active' class='outfits'>
            {{ num_active }} active outfit(s)</div></td><td><input type="checkbox" class='done'></input></td>
        </tr>
            {% endif %}
        <tr>
            {% if num_going_out|int > 0 %}
            <td><div id='going-out' class='outfits'>
            {{ num_going_out }} going out outfit(s)</div></td><td><input type="checkbox" class='done'></input></td>
        </tr>
            {% endif %} 
    </table>

    <form id='new-item' method='POST'>
        Item Category: 
        <select id='item-category' name='category'>
            <option value="" disabled selected>Choose One</option>
            {% for category in categories %}
            <option value='{{ category[0] }}'>{{ category[0] }}</option>
            {% endfor %}
        </select>
        Item Description: <input type='text' id='item-description' name='description'>
        <input type="Submit" value='Add Item'>
    </form>
    
    <table id='packing-list' class='tablesorter'>
        <thead>
            <tr>
                <td>Category</td>
                <td>Item</td>
                <td>Location</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr id='{{ item[1] }}'>
                <td>{{ item[3] }}</td>
                <td>{{ item[0] }}</td>
                <td>{{ item[2] }}</td>
                <td><div class='remove'>X</div></td>
            </tr>
        {% endfor %}            
        </tbody>  
    </table> 
    </div>
    </div>

    <form method='POST' action='/new_trip'>
        <div>
            Add another location to your trip: <input type='text' name='location' id='autocomplete'>
            <input type='submit' id='submit_location' value='Go!'>
        </div>
    </form>

    <form action='/packing_list/{{trip_name}}'>
        Done packing for your {{ trip_name }} trip? <input type='submit' id='submit_location' value='See my list!'>
    </form>


    <script type='text/javascript' src='/static/js/location.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyl6IGlGGmnVCqHiAluta6VfjuGf6Fec&libraries=places"></script>
    <script type='text/javascript' src='/static/js/add_remove_item.js'></script>
    
    <script>
        $('.done').change(function() {
            if ($('.done').on('click') ) {
                $(this).closest('tr').toggleClass('strike');
            }
        });
    </script>

{% endblock %}