{% extends 'base.html' %}

{% block title %}PACK MANAGER{% endblock %}

{% block content %}
    <style>
      .weather {
          display: inline-block; 
      }
    </style>

    <h1>{{ trip_name }}</h1>
    

    {% for item in weather_list %}
    <div class='weather'><img src='{{ item[4] }}'></div>
    {{ item[0] }}
    {{ item[1] }}
    {{ item[2] }}°/{{ item[3] }}°
    {% endfor %}
    <script src='/static/js/location.js' type='text/javascript'></script>


    <h2> Let's create your packing list!<h2>
    <h4> Anwer a few questions about your trip to 
      {{ location[0] }}, {{ location[1] }}.
    </h4>

    <form action='/create_list' method=['GET']>
      How many total outfits will you need? <input type='number' name='num_outfits'>
      <div> Reasons for visiting {{ location[0] }}: 
        {% for occassion in occassions %}
        <input type='checkbox' name='purpose' value='{{ occassion }}'>{{ occassion }}
        {% endfor %}
      <div>Will you need formal clothing? 
      <input type='radio' name='formal' value='yes'>Yes
      <input type='radio' name='formal' value='no'>No</div>
      <input type='submit' value='Create your list!'>

    </form>

{% endblock %}