{% extends 'base.html' %}

{% block title %}PACK MANAGER{% endblock %}

{% block content %}
    
    <style>
      .weather {
          display: inline-block; 
      }

      #image {
          -webkit-filter: grayscale(100%);
          filter: greyscale(100%);
      }
      
      #title {
          -webkit-filter: grayscale(100%);
          filter: greyscale(100%);
          width: 100%;
          height: 400px;
          background-image: url('{{ location_image_url }}');
          background-size: cover;
      }
      
      h1 {
          color: white;
          text-align: center;
      }

      h2 {
          color: white;
          text-align: center;
      }

    </style>

    <div id='title'> <h1>{{ location[0] }}</h1>
        <h2>{{ trip_name }}</h2>

    {% for item in weather_list %}
    <div class='weather'><img src='{{ item[4] }}'></div>
    {{ item[0] }}
    {{ item[1] }}
    {{ item[2] }}°/{{ item[3] }}°
    {% endfor %}
    </div>

    <h2> Let's create your packing list!<h2>
    <h4> Tell us about your trip to {{ location[0] }}, {{ location[1] }}.
    </h4>

    <form action='/create_list' method=['GET']>

      <div>
        How many days will you be staying?
        <input type='number' name='num_days' style="width: 50px">
      </div>

      <div>
        How many of the following outfits will you need? 
        {% for outfit in outfits %}
        {{ outfit }}: <input type='number' name='{{ outfit }}' style='width: 50px' value='0'>
        {% endfor %}
      </div>

      <div> What activities do you have planned for {{ location[0] }}?: 
        {% for activity in activities %}
        <input id='{{ activity[0] }}' type='checkbox' name='purpose' value='{{ activity }}'>{{ activity }}
        {% endfor %}
      </div>

      {% if num_location|length == 1 %}
      <div>Will you be flying on this trip? 
      <input type='radio' name='flying' value='yes'>Yes
      <input type='radio' name='flying' value='no'>No</div>
      {% endif %}

      <div id='survey'></div>
      <input type='submit' value='Create your list!'>

      <img id='images'><img>
    </form>


{% endblock %}