{% extends 'base.html' %}

{% block title %}PACK MANAGER{% endblock %}

{% block content %}

    <style>
        .weather {
            display: inline-block; 
        }
    </style>

    <h1>{{ trip_name }}</h1>

    {% for item in location_weather_list %}

    <div class='weather'><img src='{{ item[2] }}'>
    {{ item[0] }}°/{{ item[1] }}°
    {{ item[3] }}
    </div>
    {% endfor %}

    <table id='packing-list' class='tablesorter' style="width:50%" >
        <thead>
            <tr>
                <th>Category</th>
                <th>Item</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr id='{{ item[1] }}'>
                <th>{{ item[3] }}</th>
                <th>{{ item[0] }}</th>
                <th>{{ item[2] }}</th>
                <th><div class='remove'>X</div></th>
            </tr>
        {% endfor %}

        {% for item in core_list %}
            <tr>
                <th>{{ item[1] }}</th>
                <th>{{ item[0] }}</th>
                <th>Core Packing List<th>
            </tr>
        {% endfor %}
        </tbody>  
    </table>    

    <form id='new-item' action='/create_list' method='POST'>
        Item Category: 
        <select id='item-category' name='category'>
            <option value="" disabled selected>Choose One</option>
            {% for category in categories %}
            <option value='{{ category[0] }}'>{{ category[0] }}</option>
            {% endfor %}
        </select>

        Item Description: <input type='text' id='item-description' name='description'>
        
        Item Location: 
        <select id='item-location' name='location'>
            {% for location in location_list %}
            <option value='{{ location[0] }}'>{{ location[0] }}</option>
            {% endfor %}
        </select>

        <input type="Submit" value='Add Item'>
    </form>

    <form action='/reset_trip'>
        <input type='submit' value='Start a new trip!'>
    </form>

    <script type='text/javascript' src='/static/js/add_remove_item.js'></script>

{% endblock %}