{% extends 'base.html' %}

{% block title %}Packbright{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/packing_list.css">

    <style>
        .image {
            -webkit-filter: grayscale(100%);
            filter: greyscale(100%);
            width: 100%;
            height: 300px;
            background-image: url('{{ location_image_url }}');
            background-size: cover;
            background-position: center;
            position: relative;
        }
    </style>

    <div class='image'>
    <div class='title text-center'>
        <div id='trip'>{{ trip_name }}</div>
    </div>
    </div>

    <div class='row'> <!-- open -->
    <div class="container-fluid col-xs-7"> <!-- open -->
        <div class='item-list'>
        <table id='packing-list' class='tablesorter'>
            <thead>
                <tr>
                    <th class='cat'>Category</th>
                    <th class='desc'>Description</th>
                    <th>Location</th>
                    <th class='remove'></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr id='{{ item[1] }}'>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[2] }}</td>
                    <td><div class='remove'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div></td>
                </tr>
            {% endfor %}

            {% for item in core_list %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[0] }}</td>
                    <td>Core Packing List<td>
                </tr>
            {% endfor %}
            </tbody>  
        </table>    
        </div> <!-- close table -->
    
    <div class='add-item'>
        <div class='subtitle'>Missing an item? Add it here!</div>
        <form id='new-item' action='/create_list' method='POST'>
            Category: 
            <select id='item-category' name='category'>
                <option value="" disabled selected>Choose One</option>
                {% for category in categories %}
                <option value='{{ category[0] }}'>{{ category[0] }}</option>
                {% endfor %}
            </select>

            <input type='text' class="form-control" id='item-description' name='description' placeholder='description'>

            <select id='item-location' name='location'>
                {% for location in location_list %}
                <option value='{{ location[0] }}'>{{ location[0] }}</option>
                {% endfor %}
            </select>
            <input type="Submit" class="btn btn-default" value='Add'>
        </form>
    </div> <!-- close add item -->

    <div class='email'>
        <form action='/send_email' id='send_email' method='POST'>
            <div class='subtitle'>Email your packing list!</div>
            <input type='email' id='email' placeholder='email address'>
            <input type='submit' id ='email-btn' class="btn btn-default" value='Send'>
            <div id='email-sent'>Packing list sent!</div>
        </form>
    </div> <!-- close email -->

    <div class='reset'>
        <form action='/reset_trip'>
            <input type='submit' class="btn btn-default" value='Start a new trip!'>
        </form>
    </div> <!-- close reset -->
    </div> <!-- close col -->

<div class="container-fluid col-xs-5">
    <div class='weather text-center'>
    {% for item in location_weather_list %}
    <div id='weather'>
    {% if item[1] %}
        <img src='{{ item[3] }}'>
        <div>{{ item[1] }}°/{{ item[2] }}°</div>
        <div>{{ item[0] }}</div>
    </div>
    {% else %}
        <div>{{ item[0] }}</div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>

</div> <!-- close row -->



    <script type='text/javascript' src='/static/js/add_remove_item.js'></script>
    <script type='text/javascript' src='/static/js/send_email.js'></script>


{% endblock %}