{% extends 'base.html' %}

{% block title %}Packbright{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/static/css/register.css">

    <div class="container-fluid text-center">
        <h2>Create a Packbright account!</h2>

        <form action='/register' method='POST'>
            <div>
                <label>
                    <input type='text' class="form-control" name='username' placeholder='Username' required>
                </label>
            </div>
            <div>
                <label>
                    <input type='text' class="form-control" name='first_name' placeholder='First Name' required>
                </label>
            </div>
            <div>
                <label>
                    <input type='text' class="form-control" name='last_name' placeholder='Last Name' required>
                </label>
            </div>
            <div>
                <label>
                    <input type='email' class="form-control" name='email' placeholder='Email' required>
                </label>
            </div>
            <div>
                <label>
                    <input type='password' class="form-control" name='password' placeholder='Password' required>
                </label>
            </div>
            <div>
                <input type='submit' class="btn btn-default" value='Register'>
            </div>
        </form>
    </div>

{% endblock %}