{% extends 'base.html' %}

{% block title %}Packbright{% endblock %}

{% block content %}
    <style>

    .image {
        height: 100%;
        width: 200px;
    }

    .slick-prev:before, .slick-next:before { 
        color: gray;
    }

    .slick-slide {
        margin: 0px 20px;
    } 

    #past-trips {
        position: fixed; 
        bottom: 0;
    }

    .container {        
        vertical-align: middle;
        display: table-cell;
        padding-top: 75px;
    }

    .header {
        padding: 10px;
    }

/*    body {
        background-image: url(/../static/img/background.jpeg);
        background-size: 100%;
        -webkit-filter: grayscale(100%);
        filter: greyscale(100%);
    }*/

    </style>

    <script src='https://code.jquery.com/jquery.js'></script>
    <script type='text/javascript' src='/static/js/location.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyl6IGlGGmnVCqHiAluta6VfjuGf6Fec&libraries=places"></script>
                
    <div class='container text-center'>
        <div class='header'>
            <h1>Create A New Trip</h1>
        </div>

        <form method='POST' action='/new_trip'>   
            <div class='form-group'>
                <label>Trip Name: 
                    <input type='text' name='trip_name'>
                </label>
            </div>
                
            <div class='form-group'>
                <label>Location: 
                    <input type='text' name='location' id='autocomplete'>
                </label>
            </div>

            <div>
                <input id='submit_location' class="btn btn-default" type="submit" value="Submit">
            </div>
        </form>
</div>

    <div id='past-trips' class='container'>
        {% for trip in trip_info %}
        <a href='/packing_list/{{ trip[1] }}'>
            <img class='image' alt='{{ trip[1] }}'src='{{ trip[0] }}'>
            </img>
            <p>{{ trip[1] }}</p>
        </a>
        {% endfor %}
    </div>


    <script>
        $(document).ready(function(){
            $('#past-trips').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
                autoplay: true,
                variableWidth: true    
          });
        });
    </script>
    

{% endblock %}