{% extends 'base.html' %}

{% block title %}Packbright{% endblock %}

{% block content %}
    <style>

    .image {
        height: 100%;
        width: 200px;
    }

    .slick-prev:before, .slick-next:before { 
        color: #2C4853;
        padding-left: 15px;
        padding-right: 15px;
    }

    button.slick-next.slick-arrow {
        right: -15px;
    }
    button.slick-prev.slick-arrow {
        right: -30px;
    }


    .slick-slide {
        margin: 0px 40px;
    } 

    .slick-slider {
        width: 95%;
        margin-left: 30px;
    }

    .slick-list {
        margin-left: 20px;
        margin-right: 0px;
    }

    #past-trips {
        position: fixed; 
        bottom: 0;
    }

    .container-fluid {
        background-color: #B9D4DD;
        background-size: cover;
        height: 720px;
        width: 100%;
    }

    .carousel {        
        vertical-align: middle;
        display: table-cell;
    }

    .header {
        padding: 10px;
        padding-top: 20px;
        font-family: 'Varela Round', sans-serif;
        font-size: 64px;  
    }

    a {
        color: #2C4853;
    }


    .btn-info {
        background-color: #B5D0DA;
        border-color: #2C4853;
      }

    .form-control {
        width: 200px;
        margin: 0 auto;
        display: inline-block;

    }

    .logo {
        height: 220px;
        padding-top: 30px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
    .navbar-brand>img {
        display: none;
    }

    .navbar {
        background-color: white;
    }



    </style>

    <script src='https://code.jquery.com/jquery.js'></script>
    <script type='text/javascript' src='/static/js/location.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzyl6IGlGGmnVCqHiAluta6VfjuGf6Fec&libraries=places"></script>
                
    <div class='container-fluid text-center'>
        <div class='logo'><img src='/static/img/logo6.png'></div>
        <div class='header'>Create A New List</div>

        <form method='POST' action='/new_trip'>   
            <div class='form-group'>
                    <input type='text' class="form-control" name='trip_name' placeholder='Trip Name'>
            </div>
                
            <div class='form-group'>
                    <input type='text' class="form-control" name='location' id='autocomplete'>
            </div>

            <div>
                <input id='submit_location' class="btn btn-default" type="submit" value="Submit">
            </div>
        </form>
    </div>

    <div id='past-trips' class='carousel text-center'>
        {% for trip in trip_info %}
        <a href='/packing_list/{{ trip[1] }}'>
            <img class='image' alt='{{ trip[1] }}'src='{{ trip[0] }}'>
            </img>
            <p>{{ trip[1] }}</p>
        </a>
        {% endfor %}
    </div>


    <script>
        $(document).ready(function(){
            $('#past-trips').slick({
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
                autoplay: true,
                variableWidth: true    
          });
        });
    </script>
    

{% endblock %}